{% extends 'base.html.twig' %}

{% block title %}Личный кабинет!{% endblock %}

{% block body %}
    <div class="container-fluid container">
        <p>Счётчик просмотров баннера: {{ bannerCounter ? bannerCounter.amount : ' '}}</p>
        <p>
            Обновлено:  {{ bannerCounter ? bannerCounter.dateAt | date('Y.m.d H:i:s') : '' }}
        </p>
    </div>
{% endblock %}
